
/* Created with http://boockup.marco.land */
@-webkit-keyframes rotatingAnimationX {
  0%{
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
  100% {
    -webkit-transform: rotateX(360deg);
            transform: rotateX(360deg);
  }
}
@keyframes rotatingAnimationX {
  0%{
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
  100% {
    -webkit-transform: rotateX(360deg);
            transform: rotateX(360deg);
  }
}
@-webkit-keyframes rotatingAnimationY {
  0%{
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  100% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}
@keyframes rotatingAnimationY {
  0%{
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  100% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}
@-webkit-keyframes rotatingAnimationZ {
  0%{
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}
@keyframes rotatingAnimationZ {
  0%{
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}
html, body {
  margin: 0;
  padding: 0;
  background-color: rgba(244, 244, 244, 1);
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  color: #4a4a4a;
  text-transform: uppercase;
  font-size: 10px;
  text-align: center;
  letter-spacing: .1em;
}
a {
  color: inherit;
  text-decoration: none;
}
.store-container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  -webkit-perspective: 1200px;
  perspective: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.store-container > div {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.boockup {
  -webkit-transform: rotateX(-23deg) rotateY(52deg) rotateZ(52deg);
  transform: rotateX(-23deg) rotateY(52deg) rotateZ(52deg);
}
.book-container {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-animation: 10s rotatingAnimationY linear infinite;
  animation: 10s rotatingAnimationY linear infinite;
}
.book-container > div {
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: center center;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
.book-top, .book-bottom, .book-side-right {
  background-size: auto auto;
  background-repeat: repeat;
  background-position: top left;
}
.book-front {
  background-image: url('../media/book/book-cover.jpg');
  width: 726px;
  height: 1052.7px;
  -webkit-transform: translate3d(-363px ,-526.35px ,70.785px) translate3d(0,0,0) rotateY(0deg);
  transform: translate3d(-363px ,-526.35px ,70.785px) translate3d(0,0,0) rotateY(0deg);
}
.book-side-left {
  background-image: url('../media/book/book-spine.jpg');
  width: 141.57px;
  height: 1052.7px;
  -webkit-transform: translate3d(-363px ,-526.35px ,70.785px) translate3d(-70.785px, 0, -70.785px) rotateY(-90deg);
  transform: translate3d(-363px ,-526.35px ,70.785px) translate3d(-70.785px, 0, -70.785px) rotateY(-90deg);
}
.book-side-right {
  background-image: url('../media/book/book-side.jpg');
  width: 141.57px;
  height: 1052.7px;
  -webkit-transform: translate3d(-363px ,-526.35px ,70.785px) translate3d(655.215px, 0px,-70.785px) rotateY(90deg);
  transform: translate3d(-363px ,-526.35px ,70.785px) translate3d(655.215px, 0px,-70.785px) rotateY(90deg);
}
.book-top {
  background-image: url('../media/book/book-top.jpg');
  background-position: bottom right;
  width: 726px;
  height: 141.57px;
  -webkit-transform: translate3d(-363px, -526.35px ,70.785px) translate3d(0px, -70.785px, -70.785px) rotateX(90deg);
  transform: translate3d(-363px, -526.35px ,70.785px) translate3d(0px, -70.785px, -70.785px) rotateX(90deg);
}
.book-bottom {
  background-image: url('../media/book/book-top.jpg');
  width: 726px;
  height: 141.57px;
  -webkit-transform: translate3d(-363px ,-526.35px ,70.785px) translate3d(0px, 981.9150000000001px, -70.785px) rotateX(-90deg);
  transform: translate3d(-363px ,-526.35px ,70.785px) translate3d(0px, 981.9150000000001px, -70.785px) rotateX(-90deg);
}
.book-back {
  background-image: url('../media/book/book-back.jpg');
  width: 726px;
  height: 1052.7px;
  -webkit-transform: translate3d(-363px ,-526.35px ,70.785px) translate3d(0,0, -141.57px) rotateY(180deg);
  transform: translate3d(-363px ,-526.35px ,70.785px) translate3d(0,0, -141.57px) rotateY(180deg);
}
#credit {
  position: fixed;
  bottom: 1em;
  right: 1em;
  z-index: 99;
  background-color: #fff;
  border-radius: 8px;
  box-sizing: border-box;
  padding: .3rem 1rem;
  width: 21rem;
  height: 20px;
  -webkit-transition: background .2s;
  transition: background .2s;
}
#credit:hover {
  background-color: #d8d8d8;
}
      