* {
    box-sizing: border-box;
}

html,body {
    background-color: white;
    cursor: url('../media/cursor.gif'), pointer;
}

.essay-container {
    display: flex;
}

.w-1of3 {
    border: 1px solid red;
    padding: 1.5em;
    flex:0 0 33.333%;
}


 .e-img {
	width: 600px;
    height: 800px;
	background-image: url('../media/pixelfridge-1.png');
    transform: rotate(70deg);
    position: absolute;
    bottom: 45vh;
    right: 0.5vw;
	background-repeat: no-repeat;
	background-size: cover;
    cursor: pointer;
    z-index: 3;
}

.e-img:hover {
	width: 600px;
    height: 800px;
	background-image: url('../media/pixelfridge-2.png');
    transform: rotate(70deg);
    position: absolute;
    bottom: 45vh;
    right: 0.5vw;
	background-repeat: no-repeat;
	background-size: cover;
    cursor: pointer;
    z-index: 3;
}



.essaytext-container p{
    margin: 1em;
    background-color: yellow;
    opacity: 0;
}

.essay-head span {
    color: red;
    font-size: 3em;
    display: block;
    text-align: right;
}
