html {
	background: red;
	display: flex;
	height: 100%;
}

@font-face {
	font-family: Univers;
	src: url("../Univers.ttf") format("truetype");
}

body {
	font-family: Univers;
	overflow-y: scroll;
	overflow-x: hidden;
}

.fs-large {
	font-size:3.5em;
}

.fs-med {
	font-size: 1.5em;
}

.menu-container {
	position: fixed;
	z-index: 2;
}

.video-container {
	height: 100vh;
	width: 100vw;
}

.bookFlip {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
	min-height: 100%;
	z-index: 1;
	mix-blend-mode: color-burn;	
	filter:grayscale(100%) opacity(0.35);
}	

.menu-item {
	position: relative;
	background-color: yellow;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: 10px;
	margin: 0 auto;
	border-radius: 5px;
	font-size: 1.3em;
	transition: all 1s ease;
}

.menu-item a {
	color: red;
	text-decoration: none;
}

.menu-item:after {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-bottom-color: #fff700;
	border-width: 15px;
	margin-left: -15px;
}

.i-about {
	position: fixed;
	top: 60vh;
	left: 20vw;

}

.i-essay {
	position: fixed;
	top: 40vh;
	left: 54vw;

}

.i-content {
	position: fixed;
	top: 26vh;
	right: 77vw;

}



.i-store {
	position: fixed;
	top: 38vh;
	left: 35vw;

}

.i-laconic {
	position: fixed;
	bottom: 20vh;
	right: 15vw;
	cursor: pointer;
	color: red;
}

.i-peek {
	position: fixed;
	right: 13vw;
	top: 10vh;
}

.i-menu{
	position: fixed;
	height: 200px;
	width: 214px;
	bottom: 0.5vh;
	left: 0.03vw;
	padding: 0;
    margin: 0;
    z-index: 2;
	background-image: url('../media/pixelfridge-1.png');
	background-repeat: no-repeat;
	background-size: cover;
	cursor: pointer;
}

.i-menu:hover {
	background-image: url('../media/pixelfridge-2.png');

}

.modal-container {
	position: fixed;
	z-index: -1;
	opacity: 0;
	transition: 1s ease;
}

.m-text {
	height: 100vh;
	width: 100vw;
	background-color: red;
	display: flex;
	justify-content: center;
	align-items: center;
	color: yellow;
	text-align: center;
	font-size: 2em;
	padding: 3em;
}

.hide {
    opacity: 0;
}

.show {
    opacity: 1;
}


/* Featured Content page */

.flip {
    transform: rotateY(180deg);
    transition: 1s ease;
}

.nav-container {
	position: relative;
	z-index: 2;
	display: flex;
}

.nav-item {
	z-index: 2;
	justify-content: flex-end;
	align-items: flex-end;
}

.c-yel {
    color: yellow;
}

.c-red {
    color: red;
}

.content-text {
	padding-top: 5em;
	padding-right: 15em;
	padding-left: 15em;
	color: white;
}

.content-text p {
	line-height: 1.2em;
	margin: 1em;
}

.content-heading {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.heading-text {
	color: white;
	padding-bottom: 1em;
	padding-top: 1em;
}

/* about */

.description-container{
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
}

.description-text {
	width: 90vw;
	height: 90vh;
	border: solid 1.5px yellow;
	position: fixed;
	z-index: -1;
	padding: 1em;
	color: white;
}

.d-header {
	display: block;
	text-align: center;	
}

.description-text p {
	color: white;
}

