/* Portfolio page css */\

* {
    font-family: 'Overpass Mono', monospace;
}

body, html {
    background: #EB5757;  /* fallback for old browsers */
    background: -webkit-linear-gradient(right, #000000, #EB5757);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(right, #000000, #EB5757); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    
}

.intro {
    padding: 20px;
}

span {
    font-family: 'Overpass Mono', monospace;
    font-size: 25px;
    color: white;
}

b:hover {
    color: #ffc277;
}

select {
    margin: 20px;
    font-family: 'Overpass Mono', monospace;
    text-transform: lowercase;
    font-size: 25px;
    border-radius: 10px;
    height: 35px;
}

a {
    margin:50px;
    font-family: 'Overpass Mono', monospace;
    text-transform: lowercase;
    font-size: 25px;
    color: white;
    text-align: center;
    line-height: 40px;
}

a:hover {
    font-style: italic;
}