

 @import url("https://use.typekit.net/hdz4jyk.css");
 * {
   margin-top: 0;
 }

body {
  background-color: #f9f0f2;
  color: #002566;
  font-family: "alegreya-sans", sans-serif; 
  font-weight: 400;
  font-style: normal;
  padding: 3em;
  font-size: 1.2em;
}

::selection {
  color: white;
  background-color: #fe3b35;
}

#linhighlight:hover {
  font-style: italic;
  color: #fe3b35;
}

a {
  text-decoration: none;
  color: #002566;
  font-weight: 700;
}

a:hover {
  font-style: italic;
  color: #fe3b35;
  font-weight: 700;
}