html {
	background: url(../images/img-me-1.png) no-repeat center center fixed;
	background-size: cover;
}

.intro {
	width: 40vw;
	padding: 15px;
	/* border: 1px solid red; */
}

.index-container {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}
