
body {
	font-family: 'Work Sans', sans-serif;
	padding: 30px;
	overflow-x: hidden;
}

::-webkit-scrollbar {
	width: 3px;
	color: red;
}

h1 {
	color: blue;
	font-weight: 400;
	font-size: 18px;
	margin: 0;	
}

a, a:visited {
	background-color: blue;
	color:white;
	padding: 3px;
	line-height: 1.8	;	
}

a:hover {
	background-color: red;
}


.intro {
	width: 500px;
	padding: 15px;
	margin: 0 auto;
	border: 1px solid red;
}

.intro img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.question {
	font-weight: 700;
	font-style: italic;
	text-decoration: underline;
	color: blue;
}

.cont {
	position: absolute;
	width: 450px;
	border: 1px solid blue;
	margin: 20px;
	padding: 20px;
	background-color: white;
}

h2 {
	color:red;
	font-size: 14px;
	font-weight: 400;
	display: inline;
}

.two {
	left: 20%;
	top: 20%;
}

.three {
	top: 30%;
	left: 30%;
}

.four {
	top: 40%;
	left: 40%;
}

.five {
	top: 50%;
	left: 50%;
}

.six {
	top: 60%;
	left: 60%;
}

.seven {
	top: 70%;
	left: 55%;
}

.eight {
	top: 80%;
	left: 45%;
}

.nine {
	top: 90%;
	left: 35%;
}

.ten {
	top: 100%;
	left: 25%;
}

.eleven {
	top: 113%;
	left: 15%;
}

.twelve {
	top: 120%;
	left: 5%;
}

.thirteen {
	top: 130%;
}

.fourteen {
	top: 140%;
	left: 10%;
}

.fifteen {
	top: 150%;
	left: 20%;
}

.sixteen {
	top: 165%;
	left: 30%;
}

.cont:hover {
	z-index: 1;
	background-color: blue;
	color: white;
}

.cont:hover .question {
	color: white;	
}

.nav {
	position: absolute;
	top: 195%;
	padding-bottom: 20px;
	font-size: 18px;
	color: blue;
}

.imgmarquee {
	width: 100%;
}

.imgmarquee img {
	position: absolute;
	overflow: hidden;
	top: 55%;
	transform: translateX(100%);
	animation: marquee 20s linear alternate infinite;
}

@keyframes marquee {
	0% { transform: translateX(110%); }
	100% { transform: translateX(-110%); } 
}

.imgmarquee2 img {
	position: absolute;
	overflow: hidden;
	width: 500px;
	top: 95%;
	left: 70%;
	transform: translateX(100%);
	animation: marquee2 15s linear alternate infinite;
}

@keyframes marquee2 {
	0% { transform: translateX(-50%); }
	100% { transform: translateX(100%); }
  }

  