
* {
    font-family: 'Assistant', sans-serif;
    margin: 0;
    padding: 0;  
}

body, html {
    background-color: rgba(255, 200, 87, 1);
    background-image: url('assets/memphis-colorful.png');
    
    
}
/* hides all scrollbars*/
::-webkit-scrollbar { 
    display: none; 
}


.about {
    position: sticky; /* will stay on the top as you scroll*/
    top: 0px;
    padding: 20px;
    text-align: center;
    margin: 0;
    min-height: 300px;
    width: auto;
    background-image: url('assets/memphis-colorful.png');
    background-color: rgba(255, 200, 87, 1);
    border: border-box;
    color: rgb(88, 32, 41);
}


h1 {
    padding: 30px;
    font-size: 70px;
    color: rgb(72, 27, 34);
}

h2 {
    font-size: 90px;
    color: fff;
    font-weight: bold;
    text-transform: uppercase;
    text-align: right;
}

.underline {
    border-bottom: 2px solid rgba(255, 200, 87, 1);
    color: fff;
    cursor: pointer;
}

a:link {
    text-decoration: none;
    font-weight: bold;
    padding: 5px;
    background-color: fff;
    color: rgb(72, 27, 34);
}

a:visited {
    text-decoration: none;
    font-weight: bold;
    color:rgb(72, 27, 34);
}

/*changing size of info icon*/
.info {
    font-size: 20px;
}

/* indicates which one is a brush tool - shown after button is clicked*/
.showbrush a:link {
    background-color: rgba(255, 200, 87, 1);
    
}

.f {
    background-color:rgba(197, 40, 61, 1);
    text-align: right;
    color: fff;
}

.t {
    background-color:rgba(37, 95, 133, 1);
    text-align: right;
    color: fff;
}

.vl {
    background-color:rgba(170, 192, 170, 1);
    text-align: right;
    color: fff;
}

.c {
    background-color:rgba(233, 114, 76, 1);
    text-align: right;
    color: fff;
}

.b {
    background-color:rgba(57, 62, 65, 1);
    text-align: right;
    color: fff;
}

.au {
    background-color:rgb(72, 27, 34);
    text-align: right;
    color: fff;
}

/* content containers */
.twof {
    background-color:rgb(215, 45, 67);
    color: fff;
}

.twot {
    background-color:rgb(45, 114, 159);
    color: fff;
}

.twovl {
    background-color:rgb(184, 210, 184);
    color: fff;
}

.twoc {
    background-color:rgb(246, 128, 90);
    color: fff;
}

.twob {
    background-color:rgb(76, 83, 88);
    color: fff;
}

.twoau {
    background-color:rgb(88, 32, 41);
    color: fff;
}

.contentarea {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.category {
    width: 40%;
    padding: 1%;
    height: 400px;
    overflow: auto;
}

/* free/paid/reset buttons */
.btn {
    cursor: pointer;
    background-color: rgb(88, 32, 41);
    color: fff;
    margin: 20px;
    padding: 10px;
    text-align: center;
    display: inline-flex;
    box-shadow: 0px 0px 30px -9px rgba(166,166,166,1);
}

.desctooltip {
    display: none;
}

.tooltiphover {
    padding: 5px;
}

.tooltiphover:hover .desctooltip {
    display: block;
    padding-top: 15px;
}

/*media queries - mostly scaling text size*/

/* @media only screen and (max-width: 1200px) {
} */

@media only screen and (min-width: 320px) {
    h1 {
        font-size: 50px;
    }

    body {
        font-size: 35px;
    }

    p {/*padding left/right are specified so height doesn't change*/
        font-size: 12px;
        padding-left: 30px;
        padding-right: 30px;
    }

    h2 {
        font-size: 53px;
    }

    /*changing hover to clicking on info icon for mobile*/
    .desctooltip {
        display: none;
    }
    
    .tooltiphover {
        padding: 5px;
    }
    
    .info:active .desctooltip {
        display: block;
        padding-top: 15px;
    }
}


@media only screen and (min-width: 425px) {
    h1 {
        font-size: 65px;
    }

    body {
        font-size: 25px;
    }

    p {/*padding left/right are specified so height doesn't change*/
        font-size: 12px;
        padding-left: 30px;
        padding-right: 30px;
    }

    h2 {
        font-size: 53px;
    }

    .desctooltip {
        display: none;
    }
    
    .tooltiphover {
        padding: 5px;
    }
    
    .info:active .desctooltip {
        display: block;
        padding-top: 15px;
    }
}

@media only screen and (min-width: 768px) {
    h1 {
        font-size: 65px;
    }

    body {
        font-size: 20px;
    }

    a {
        line-height: 30px;
    }
    
    p {/*padding left/right are specified so height doesn't change*/
        font-size: 20px;
        padding-left: 30px;
        padding-right: 30px;
    }

    h2 {
        font-size: 53px;
    }
}

@media only screen and (min-width: 1024px) {
    h1 {
        font-size: 70px;
    }

    body {
        font-size: 15px;
    }

    a {
        line-height: 25px;
    }
    
    p {/*padding left/right are specified so height doesn't change*/
        font-size: 20px;
        padding-left: 30px;
        padding-right: 30px;
    }

    h2 {
        font-size: 53px;
    }
}


@media only screen and (min-width: 1440px) {

    h1 {
        font-size: 90px;
    }

    p {
        padding-left: 250px;
        padding-right: 250px;
    }

    h2 {
        font-size: 70px;
    }
}

@media only screen and (min-width: 2550px) {

    h1 {
        font-size: 150px;
    }

    h2 {
        font-size: 95px;
    }
    
    body {
        font-size: 22px;
    }
}


