/* 
purple: rgb(37, 24, 33);
green: rgb(120, 190, 170);
pink: rgb(244, 70, 87);
*/

html {
    zoom: 0.8; /* Old IE only */
    -moz-transform: scale(0.8);
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
}

@font-face {
    font-family: 'Alte-DIN-1451-Mittelschrift';
    src:url('assets/Fonts/Alte-DIN-1451-Mittelschrift.ttf.woff') format('woff'),
        url('assets/Fonts/Alte-DIN-1451-Mittelschrift.ttf.svg#Alte-DIN-1451-Mittelschrift') format('svg'),
        url('assets/Fonts/Alte-DIN-1451-Mittelschrift.ttf.eot'),
        url('assets/Fonts/Alte-DIN-1451-Mittelschrift.ttf.eot?#iefix') format('embedded-opentype'); 
        font-weight: normal;
        font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Alte-DIN-1451-Mittelschrift';
}

.container {
    height: 100vh;
    position: relative;
    padding: 40px;
    color: white;
}

.iframecont {
    display: flex;
    align-items: center;
    justify-content: center;
}

iframe {
    width: 70vw;
    height: 70vh;
    background-color: white;
    border: none;
}

.portrait img {
    max-height: 90vh;
    position: relative;
    left: 50%;
}

.portrait1 img {
    max-height: 90vh;
    position: relative;
    left: 19%;
    top:4%;
}

.landscape img {
    max-width: 70vw;
    position: relative;
    margin: 70px;
}


.about h1 {
    font-weight: 700;
    font-size: 31pt;
    color: rgb(37, 24, 33);

}

.about h2 {
    font-weight: 300;
}

h3 {
    text-align: center;
    font-size: 20pt;
    color: rgb(244, 70, 87);
}

h4 {
    color: rgb(244, 70, 87);
    font-size: 20px;
}

.line {
    color: rgb(120, 190, 170);
    width: 20px;
    height: 120px;
    z-index: 3;
}


.introtext {
    position: absolute;
    top: 50%;
    left: 51%;
    margin-right: -50%;
    transform: translate(-50%, -50%);

}
.aboutt {
    position: absolute;
    top: 0;
    left: 50%;
    padding-top: 90px;
    padding-left: 5px;
    border-left: 2px solid rgb(120, 190, 170);
}

.printt {
    position: absolute;
    top: 50%;
    left: 0;
    padding-left: 80px;
    padding-bottom: 5px;
    border-bottom: 2px solid rgb(120, 190, 170);
}

.illustrationt {
    position: absolute;
    top: 50%;
    right: 0%;
    padding-right: 70px;
    padding-bottom: 5px;
    border-bottom: 2px solid rgb(120, 190, 170);
}

.webt {
    position: absolute;
    right: 50%;
    bottom: 0;
    border-right: 2px solid rgb(120, 190, 170);
    padding-right: 5px;
    padding-bottom: 150px;
}

.webtext {
    position: absolute;
    top: 0;
    right: 50%;
    text-align: right;
    padding-top: 40px;
    padding-right: 5px;
    border-right: 2px solid rgb(120, 190, 170);
}

.description {
    color: rgb(120, 190, 170);
}

.heading {
    font-size: 20px;
    color: rgb(244, 70, 87);
}

#ssl {
    position: absolute;
    top: 50%;
    padding-top: 40px;
    padding-left: 80px;
    padding-bottom: 5px;
    border-bottom: 2px solid rgb(120, 190, 170);
}

#dssl {
    width: 240px;
    position: absolute;
    top: 60%;
    padding-left: 40px;
}

#odon {
    position: absolute;
    top: 50%;
    padding-top: 40px;
    padding-left: 110px;
    padding-bottom: 5px;
    border-bottom: 2px solid rgb(120, 190, 170);
}

#dodon {
    width: 200px;
    position: absolute;
    top: 60%;
    padding-left: 45px;
}

#stump {
    position: absolute;
    top: 50%;
    padding-top: 40px;
    padding-left: 90px;
    padding-bottom: 5px;
    border-bottom: 2px solid rgb(120, 190, 170);
}

#dstump {
    width: 270px;
    position: absolute;
    top: 60%;
    padding-left: 128px;
}


#CDR {
    position: absolute;
    top: 50%;
    left: 29%;
    padding-right: 120px;
    padding-bottom: 5px;
    padding-top: 40px;
    border-bottom: 2px solid rgb(120, 190, 170);
}

#dCDR {
    width: 240px;
    position: absolute;
    top: 60%;
    left: 29%;
}

#ngcover {
    position: absolute;
    top: 50%;
    left: 13%;
    padding-right: 123px;
    padding-bottom: 5px;
    padding-top: 40px;
    border-bottom: 2px solid rgb(120, 190, 170);
}

#dngcover {
    width: 240px;
    position: absolute;
    top: 60%;
    left: 13%;
}

  
  #slideshow > div {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
  }
