/*Index*/

.homepage  {
    margin: 50px;
    font-family: monospace;
    font-size: 25px;
    
}

a {
    text-decoration: none;
}

.hometoone a {
    color: #820f54;
}

.hometoone a:hover {
    font-style: italic;
    color:coral;
    
}

.homenav a {
    font-size: 16px;
    display: inline-block;
   
}

.homenav a:hover {
    -webkit-transform: translate(30px);
        -ms-transform: translate(30px);
            transform: translate(30px);
    -webkit-transition: 3s ease-out;
    -o-transition: 3s ease-out;
    transition: 3s ease-out;
    
}

.homepage h2 {
    font-size: 20px;
    text-transform: uppercase;
    color: #8c0f2c;
}


sup {
    font-size: 10px;
    text-transform: uppercase;
}


/*Level 3.1 */


.text {
    position: absolute;
    top: 50%;
    bottom: 50%;
    left: 40%;

}

.box {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: 3px solid gold;
    
}

.one {
    position: absolute;
    top: 50%;
    left: 40%;
}

.two {
    position: absolute;
    left: 45%;
    top: 35%;
}

.three {
    position: absolute;
    left: 37%;
    top: 46%;
}

.four {
    position: absolute;
    top: 53%;
    left: 39%;
}

.five {
    position: absolute;
    top: 40%;
    left: 40%;
}

.six {
    position: absolute;
    top: 55%;
    left: 45%;
}
.seven {
    position: absolute;
    top:47%;
    left: 45%;
}

.eight{
    position: absolute;
    top: 67%; 
    left: 49%;
}

.nine {
    position: absolute;
    top: 60%;
    left: 34%;
}

.ten {
    position: absolute;
    top: 52%;
    left: 60%;
}

.eleven { 
    position: absolute;
    top: 30%;
    right: 20%;
}

.twelve {
    position: absolute;
    top: 47%;
    right: 25%;
}

.thirteen {
    position: absolute;
    top: 26%;
    right: 34%;
}

.fourteen {
    position: absolute;
    top: 59%;
    right: 30%;
}

.fifteen {
    position: absolute;
    top: 43%;
    right: 21%;
}

.sixteen {
    position: absolute;
    top: 33%;
    right: 22%;
}

.seventeen {
    position: absolute;
    top: 45%;
    right: 26%;
}

.eighteen {
    position: absolute;
    top: 27%;
    right: 45%;
}

.nineteen {
    position: absolute;
    top: 58%;
    right: 33%;
}

.twenty {
    position: absolute;
    top: 44%;
    right: 28%;
}



/*Level 3.2*/


.box2 {
    width: 1000px;
    height: 100px;
    border-radius: 50px;
    border: 3px solid gold;
    
}

/*Level 3.3 */

.nav {
    position: fixed;
    bottom: 0;
    margin-right: 20px;
    right: 0;
    
}



.box3 {
    width: 100px;
    height: 10000px;
    border-radius: 50px;
    border: 3px solid gold;
    
}


/* Level 4.1 */


.box4 {
    width: 100px;
    height: 300px;
    border-radius: 0px 0px 50px 50px;
    border-left: 3px solid gold;  
    border-right: 3px solid gold;
    border-bottom: 3px solid gold;
}

.un {
    position: absolute;
    top: 0;
    left: 22%;
}

.deux {
    height: 45px;
    position: absolute;
    top: 0;
    left: 26%;
}

.trois {
    height: 200px;
    position: absolute;
    top: 0;
    left: 20%;
}

.quatre {
    position: absolute;
    height: 450px;
    left: 16%;
    top: 0;
}


.smalltxtbox {
    width: 500px;
    font-size: 12px;
    font-family: monospace;
    text-align: justify;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    color: white;
}

.worktxt {
    width: 500px;
    font-family: monospace;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    float: left;
    margin: 5px;
    right: 0;
    left: 0;
    top: 50%;
    bottom: 50%;
}


.myworktxt {
    color: black;
}


.hint {
    display: inline-block;
    color: black;
    float: right;
    font-family: monospace;
    
}

/* Level 4.2 */

.wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    font-family: monospace;
}

.row {
    -ms-flex-preferred-size: 12.5%;
        flex-basis: 12.5%;
}

.typeone {
    font-weight: bold;
    font-size: 30px;
    line-height: 15px;
    text-transform: uppercase;
    text-align: center;
    
}

.typetwo {
    font-weight: bold;
    font-size: 28px;
    line-height: 15px;
    text-transform: uppercase;
    color: #303030;
    text-align: center;
}

.typethree {
    font-weight: bold;
    font-size: 26px;
    line-height: 15px;
    text-transform: uppercase;
    color: #5b5b5b;
    text-align: center;
}

.typefour {
    font-weight: bold;
    font-size: 24px;
    line-height: 15px;
    text-transform: uppercase;
    color: #5b5b5b;
    text-align: center;
}

.typefive {
    font-weight: bold;
    font-size: 22px;
    line-height: 15px;
    text-transform: uppercase;
    color: #919191;
    text-align: center;
}

.typesix {
    font-weight: bold;
    font-size: 20px;
    line-height: 15px;
    text-transform: uppercase;
    color: #cecece;
    text-align: center;
}

.typeseven {
    font-weight: bold;
    font-size: 18px;
    line-height: 15px;
    text-transform: uppercase;
    color: #f4f4f4;
    text-align: center;
}

.typeseven a{
    color: #f4f4f4;
}

.typeeight {
    font-weight: bold;
    font-size: 16px;
    line-height: 15px;
    text-transform: uppercase;
    color:#fff ;
    text-align: center;
}

.link {
    display: inline-block;
    float: right;
    font-family: monospace;
    margin: 10px;
}

/* Level 4.3 */

.lvl43 {
    font-family: monospace;
}

.link12 {
    text-align: center;
    font-size: 14px;
    line-height: 15px;
  
    }

.link12 a {
    color: white;
  
}

/* Level 5.1 */

.coverpage:active {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    -webkit-transition: 1s ease-out;
    -o-transition: 1s ease-out;
    transition: 1s ease-out;
}


.lvl51 {
    position: absolute;
    font-size: 35px;
    font-family: monospace;
    text-align: center;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);

}

select {
    font-family: monospace;
    font-size: 35px;
    border-radius: 10px;
}

.link13{
    display: inline-block;
    font-family: monospace;
    margin: 30px;
    color: white;
    position: fixed;
    bottom: 0;
    right: 20px;
    
}

.link13 a{
    color: white;
}

.link13 a:hover {
    font-style:italic;
}


/* Level 5.2 */

.lvl52 {
    position: absolute;
    font-size: 35px;
    font-family: monospace;
    text-align: center;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}



.link14 a {
    color: white;
}


/* Level 5.3 */
.lvl53 {
    font-size: 45px;
    font-family: monospace;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;

}

.lvl53 a {
    color: black;
}

.lvl53 a:hover {
    color: gold;
    font-style: italic;
}



.extra {
    text-decoration: line-through;
    font-style: italic;
    font-size: 35px;
}

.scroll {
    -ms-flex-preferred-size: 20%;
        flex-basis: 20%;
    margin: 10px;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 10px;
    height: 100vh;
    overflow: scroll;
    
}

.obbox .obtooltip {
    font-size: 10px;
    background-color: black;
    color: white;
    padding: 5px;
    max-width: 100px;
    border-radius: 5px;
    position: absolute;
    z-index: 1;
    visibility: hidden;
    
}

.obbox:hover .obtooltip {
    visibility: visible;
    opacity: 1;
}



.rest {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
}

::-webkit-scrollbar {
-webkit-appearance: none;
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-thumb {
    border-radius: 2.5px;
    background-color: grey;
    
}